@import '../../constants/colours';

.menu {
  margin: 60px 50px;

  .menuItemContainer {
    display: grid;
    align-items: center;
    grid-template-columns: min(70px) 1fr;

    .menuItem {
      display: flex;
      align-items: center;
      width: 100%;
      font-family: inherit;
      color: inherit;
      font-size: 25px;
      text-align: left;
      border: none;
      background: none;
      cursor: pointer;

      &:active, &:focus {
        outline: none;
      }

      .cursor {
        width: 50px;
        height: 50px;
      }

      .icon {
        width: 50px;
        height: 50px;
      }

      .itemText {
        display: grid;
        grid-template-columns: 150px 500px;

        .title {
          font-weight: bold;
          padding: 20px;
        }

        .subtitle {
          padding: 20px;
        }
      }
    }

    & + .menuItemContainer {
      margin-top: 20px;
    }
  }
}