@import 'src/constants/colours.scss';

.form {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: auto;

  .formItem {
    display: grid;
    grid-template-columns: 200px 200px;
    padding: 20px 0;
  }

  .formSubmit {
    padding: 20px 0;
  }

  .error {
    color: $hot-pink;
    font-weight: bold;
  }

  .success {
    color: $green;
    font-weight: bold;
  }
}