@import 'src/constants/colours';

.header {
  padding: 1rem;
  text-align: center;
  color: $yellow;

  .headerTitle {
    font-size: 50px;
    font-weight: bold;
  }
}

.pageTitle {
  text-align: center;
  color:$burgundy;
  font-size: 40px;
  font-weight: bold;
}

.content {
  font-size: 20px;
  padding: 16px;
}