@import '../../constants/colours';

.container {
  display: grid;
  grid-template-columns: 150px 300px;
  grid-template-rows: auto 100px 100px auto;
  grid-template-areas:
    "title title"
    "image description"
    "image type"
    "stock controls";
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  border: solid 3px $beige;
  border-radius: 10px;
  background-color: $black-opaque;

  .title {
    grid-area: title;
    font-weight: bold;
  }

  .image {
    grid-area: image;
  }

  .description {
    grid-area: description;
    align-self: start;
    text-align: left;
    padding-top: 15px;
  }

  .type {
    grid-area: type;
    align-self: end;
    text-align: left;
    font-style: italic;
    padding-bottom: 15px;
  }

  .stock {
    grid-area: stock;
  }

  .controls {
    grid-area: controls;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
  }
}